@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/Images/bg.jpg);
    background-position: center center;
    background-size: max(1200px 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    /* height: 114px; */
    width: 144px;
    position: relative;
    z-index: 10;
    /*ye sare element se ubhar k bahar aa jayega (pop out hoke bahar aa jayega)*/
}

nav button {
    position: relative;
    z-index: 10;
    /*ye sare element se ubhar k bahar aa jayega*/
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    /*immidiate child ki baat ho rahi hai  */
    font-weight: 800;
    font-size: 38px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.sepration {
    height: 7px;
    background-color: rgb(39, 38, 38);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: solid 2px rgba(151, 146, 146, 0.5);
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 643px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 99px;
    right: 4px;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(1) {
    font-size: 24px;
    font-weight: bolder;
}

/* section.third video {
    top: 80px;
} */

.feq h2 {
    text-align: center;
    font-size: 48px;
}

.feq {
    padding: 24px;
    background-color: black;
    color: white;
}

.feqbox:hover {
    background-color: #414141;
    color: white;
}

.feqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 47, 47);
    padding: 34px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
    .first {
    display: flex;
    justify-content: center;
    max-width: 54vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    .secImg img {
        width: 365px;
    }

    .secImg video {
        position: absolute;
        top: 91px;
        right: 12px;
        width: 305px;
    }
    

    .hero> :nth-child(1) {
        font-weight: 800;
        font-size: 17px;
        text-align: center;
    }

    .hero> :nth-child(2) {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    }

    .hero> :nth-child(3) {
    font-weight: 400px;
    font-size: 14px;
    text-align: center;
    }

    .hero-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    }

    nav {
    max-width: 98vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    }
}


@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }

    nav img {
    /* height: 114px; */
    width: 86px;
    position: relative;
    z-index: 10;
} 
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer .questions {
    padding: 34px 0;
}